.p1{
    text-align: center;
    font-family: "Helvetica";
    font-size:1rem;
    color: #dce3e3;
    overflow-wrap: break-word;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.body1 h3{
    margin: 1.5rem;
    color: #e9eef7;
}
.bodyHr{
    width : 30%;
    border: 1px solid #f7f3f2;
    border-radius: 3px;
}
div.card-title{font-size: 12px; font-weight: bold;color: #0f6674;}
p.card-text{font-size: 10px;}
button.btn.btn-secondary a{color: white;}
.row1,.row2{margin-top: 3rem;}
@media screen and (max-width: 500px) {
    .card-body p {
        text-align: justify;
        font-size: 12px;
        text-align: center !important;
    }
}