
.grid-item {padding: 0px !important;}
.navcolor {
    background-color: #4db8ff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: azure !important;
}
.logo{
    margin-bottom: 20px;
}

.is-active{
    font-style: oblique;
    color: yellow;
}