.card-body p{
    test-align: justify;
}
li.list-group-item{
    font-size: 1rem;
}
.stageButton{
    width: 100%;
    background-color: #7a2f31 !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
}
.stageCaption{
    margin-left: auto;
}
div.stageBlock{margin-bottom: 3rem;}

@media screen and (max-width: 500px) {
    .card-body p{
        text-align: justify;
        font-size: 12px;
    }
}
.jumbotron {
    background-color: #fcedd8 !important;
}
.h1_stg,.p1_stg{
    text-align: justify;
    color: #3e4551;
}
.p1_stg{
    font-size: 16px;
}
.h1_stg{
    margin-bottom: 2rem;
}